/* CSS HEX */
:root {
    --cobalt-blue: #1446a0ff;
    --razzmatazz: #db3069ff;
    --mustard: #f5d547ff;
    --beige: #ebebd3ff;
    --jet: #3c3c3bff;
}

body {
    background-color: var(--cobalt-blue);
}

div, div * {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.pageTitle {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

h1 {
    color: var(--razzmatazz);
}